.section7 {
    width: 100vw;
    height: 110vh;
    background: linear-gradient(0deg, rgba(242, 239, 217, 1) 7%, rgba(149, 196, 181, 1) 42%, rgba(117, 181, 169, 1) 57%, rgba(72, 160, 151, 1) 73%, rgba(45, 148, 141, 1) 92%);
    padding-top: 6vh;
}

.g_text {
    padding-top: 6.5vh;
    padding-bottom: 4vh;
    text-align: center;
    font-family: 'Great Vibes';
    font-size: 7.5vmax;
    color: blanchedalmond;
    text-shadow: -1px 3px black;
}




@media screen and (max-width:665px) {
    .g_text {
      font-size: 5.5vh;
    }

    .section7 {
        height: 85vh;
    }
  
  }