.App {
  text-align: center;
  background-color: #f2efd9;
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none; /* Remove underline */
  color: #fff; /* Set text color to a blue shade, you can change it to your preferred color */
  transition: color 0.3s ease; /* Add a smooth transition effect on color change */
}

