.section2 {
  position: relative;
  background: linear-gradient(0deg, rgba(45,148,141,1) 0%, rgba(61,155,147,1) 24%, rgba(101,174,163,1) 46%, rgba(117,181,169,1) 53%, rgba(149,196,181,1) 66%, rgba(197,218,200,1) 86%, rgba(242,239,217,1) 100%);
}

.pre_themes {
    width: 100vw;
    height: max-content;
    overflow-y: auto;
    background: linear-gradient(0deg, rgba(45,148,141,1) 0%, rgba(61,155,147,1) 24%, rgba(101,174,163,1) 46%, rgba(117,181,169,1) 53%, rgba(149,196,181,1) 66%, rgba(197,218,200,1) 86%, rgba(242,239,217,1) 100%);
}

.polaroid-themes {
    position: relative;
    z-index: 3;
    overflow-x: hidden;
    min-height:110vh;
  padding-bottom: 5vh;

}

.section-title {
    padding-top: 8.5vh;
    padding-bottom: 4vh;
    text-align: center;
    font-family: 'Great Vibes';
    font-size: 7.5vw;
    color: black;
    text-shadow: -1px 3px cadetblue;
}

.polaroid-card {
    display: inline-block;
    background-color: #a93106;
    padding: 10px;
    box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.7);  
}


.polaroid-card-caption {
    text-align: center;
    margin-top: 6px;
    letter-spacing: 2px;
    color: white;
}

.polaroid-card:nth-of-type(even) {
    transform: rotate(12deg);
}

.polaroid-card:nth-of-type(odd) {
    transform: rotate(-12deg);
}

.polaroid-card:nth-of-type(even)::before {
    content: '';
    display: block;
    background-color: rgba(222, 220, 200, 0.66);
    width: 100px;
    height: 25px;
    transform: rotate(-24deg) translate(-30px, -25px);
}

.polaroid-card:nth-of-type(odd)::before {
    content: '';
    display: block;
    background-color: rgba(222, 220, 200, 0.66);
    width: 100px;
    height: 25px;
    transform: translate(140px, -5px) rotate(25deg);
}

.polaroid-card:hover {
    transform: scale(1.25);
}

@media screen and (max-width:665px) {
  .section-title {
    font-size: 9vh;
  }

  .polaroid-card:hover {
    transform: scale(1.15);
}

}

